@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("", "Home", FormMethod.Post, new { @id = "frmHome" }))
{

    <div>
        <h4> Flight Search </h4>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-3">
                        @Html.Label("Origin", new { @for = "Origen" })
                        @Html.DropDownList("selOrigen", new List<SelectListItem> {
                       new SelectListItem { Text = "Bogotá", Value = "BOG" },
                       new SelectListItem { Text = "Medellín", Value = "MDE" },
                       new SelectListItem { Text = "Barranquilla", Value = "BAQ" }

                   },
                    new { @class = "form-control", @id = "selOrigen" })
                    </div>


                    <div class="form-group col-sm-3">
                        @Html.Label("Destination", new { @for = "Destino" })
                        @Html.DropDownList("selDestino", new List<SelectListItem> {
                       new SelectListItem { Text = "Bogotá", Value = "BOG" },
                       new SelectListItem { Text = "Medellín", Value = "MDE" },
                       new SelectListItem { Text = "Barranquilla", Value = "BAQ" }

                   },
new { @class = "form-control", @id = "selDestino" })
                    </div>

                    <div class="form-group col-sm-3">
                        @Html.Label("Departure date ", new { @for = "txtIda" })
                        @Html.TextBox("txtIda", null, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "txtIda", @type = "date", @Value = DateTime.Now.Date.ToString("yyyy-MM-dd") })
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <input type="button" value="Search Flights" onclick="BuscarVuelos()" class="btn btn-block">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary" id="tab1">
                    <div class="panel-heading" id="tab">
                        <h4>Flight Availability</h4>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive" style="height: 215px;">
                            <table class="responsive-table centered" @*style="overflow: auto; width: 100%; "*@>
                                <thead id="tab1">
                                    <tr>
                                        <th style="text-align: center;"> Origin </th>
                                        <th style="text-align: center;"> Destination </th>
                                        <th style="text-align: center;"> Date </th>
                                        <th style="text-align: center;"> Actions </th>
                                    </tr>
                                </thead>

                                <tbody id="detalleVuelos"> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
